<app-menu></app-menu>

<div class="container-fluid p-0">

    <!-- Presentation -->
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">André
            <span class="text-primary">Cardoso</span>
        </h1>
        <div class="subheading mb-5">
            Portugal &nbsp; · &nbsp; (+351) 933 340 098
        </div>
        <div class="subheading mb-5">
            <a href="mailto:andre.fmarques.cardoso@gmail.com">andre.fmarques.cardoso@gmail.com</a>
        </div>
        
        <p class="lead mb-5">Computer Science Engineer looking for news opportunities and challenging projects.</p>

        <p class="lead mb-5">
            Check my <a href="../../assets/letter_andre_cardoso.pdf">presentation letter here</a> or <a href="../../assets/cv_andre_cardoso.pdf">Curriculum Vitae here.</a>
        </p>
        <p class="lead mb-5">
            Or download both <a href="../../assets/letter_and_cv_andre_cardoso.pdf">here</a>
        </p>

        <br />
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/acard0s0">
            <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/aCard0s0">
            <i class="fab fa-github"></i>
            </a>
            <!--<a href="#">
            <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
            <i class="fab fa-facebook-f"></i>
            </a>-->
        </div>
    </div>
    </section>

    <hr class="m-0">

    <!-- Experience -->
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
            <h3 class="mb-0">Research Schollarship</h3>
            <div class="subheading mb-3">IEETA Department - Aveiro University</div>
                <!-- <p>
                    Pretenci a uma equipa de trabalho responsável pelo desenvolvimento do sistema de informação Judicial de Cabo Verde.
                    Entrei numa fase final do projecto, onde foi proposto desenvolver um sistema de monitorização que agregava o estado actual de todo hardware e software do ecosistema informático.
                    Trabalho esse que levou a uma publicação cientifica referencia abaixo. Onde também tive oportunidade de dar formação ao público alvo deste sistema.
                </p> -->
                <p>
                    I was part of a team responsible for the development of Cape Verde’s Justice Information System. 
                    I developed a Dashboard system (Frontend and Backend) to aggregate the current state of hardware using Nagios and software using web services.
                    These project led to a scientific publication,datails can be found 
                    <a href="https://sic.ici.ro/architecture-for-highly-configurable-dashboards-for-operations-monitoring-and-support/">here</a>.
                </p>
                Also, I had the opportunity to give training for the system's clients in Cape Verde. 
            </div>
            <div class="resume-date text-md-right">
            <span class="text-primary">September 2016 - October 2018</span>
            </div>
        </div>

        <!-- <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
            <h3 class="mb-3">Freelancer</h3>
            <div class="subheading">Web Desinger</div>
                <p>
                    <a href="https://sentaefica.pt/">Senta & Fica</a> · Companien Animal Service
                </p>
            </div>
            <div class="resume-date text-md-right">
            </div>
        </div> -->

        </div>
    </section>

    <hr class="m-0">

    <!-- Education -->
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-3">University of Aveiro</h3>
                <div class="subheading">Master's Degree On Computer Engineering and Telematics</div>
                <p>Thesis: Blockchian Based Debt Auction Management System</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2016 - December 2019</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <div class="subheading">Origins</div>
                <p>A 15h course, held at FISUA, where the fundamentals of Astronomia are taught along with telescope observation and orientation through celestial charts.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">June 2016</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading">Bachelor's degree on Informatic Engineering</div>
                <p>Final Project: Information system to management of autonomous flight using drones to monitor the campus parking lot.
                    details can be found on <a href="">here</a>.
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2011 - June 2016</span>
            </div>
        </div>
        

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-3">European Space Angency Academy</h3>
                <div class="subheading">PRODUCT ASSURANCE AND SAFETY</div>
                <p>ESA Academy’s training 60 hours course, developed in collaboration with ESA’s Product Assurance and Safety Department. Held at ESA Academy’s Training and Learning Center at the European Space Security and Education Center (ESEC) in Belgium.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">June 2017</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-3">Aveiro Toastmasters Club</h3>
                <div class="subheading">CLUTA</div>
                <p>Club devoted to personal growth with strong emphasis in communication and leadership skills.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Jan 2017 - Dez 2017</span>
            </div>
        </div>
        
        </div>
    </section>

    <hr class="m-0">

    <!-- Skills -->
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        
        <!-- Java -->
        <div class="row" style="align-items: center" >
            <div class="col-3">
                <img src="../../assets/imgs/java.png" class="rounded mx-auto d-block" width="50px"/>
            </div>
            <div class="col-6" >
                <div class="progress" >
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 65%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
                </div>
            </div>
        </div>
        <br />
        <!-- Python -->
        <div class="row" style="align-items: center" >
            <div class="col-3">
                <img src="../../assets/imgs/python.png" class="rounded mx-auto d-block" width="60px"/>
            </div>
            <div class="col-6" >
                <div class="progress" >
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 55%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
                </div>
            </div>
        </div>
        <br />
        <!-- Angular -->
        <div class="row" style="align-items: center" >
            <div class="col-3">
                <img src="../../assets/imgs/angular.png" class="rounded mx-auto d-block" width="70px"/>
            </div>
            <div class="col-6" >
                <div class="progress" >
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 30%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
                </div>
            </div>
        </div>
        <br />
        <!-- React -->
        <div class="row" style="align-items: center" >
            <div class="col-3">
                <img src="../../assets/imgs/react.png" class="rounded mx-auto d-block" width="70px"/>
            </div>
            <div class="col-6" >
                Exploring...
                <!-- <div class="progress" >
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
                </div> -->
            </div>
        </div>
        <br />
        <!-- C# -->
        <!-- <div class="row" style="align-items: center" >
            <div class="col-3">
                <img src="../../assets/imgs/csharp.png" class="rounded mx-auto d-block" width="60px"/>
            </div>
            <div class="col-6" >
                <div class="progress" >
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 40%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
                </div>
            </div>
        </div>
         -->
        
        <!-- <ul class="list-inline dev-icons">
            
            <li class="list-inline-item">
            <i class="fab fa-angular"></i>
            </li>
            
            <li class="list-inline-item">
            <i class="fab fa-java"></i>
            </li>
            
        </ul>
        spring  Asp.net    MySql   SqlServer -->
        <br /><br />
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Unix Enviroments</li><br />
            <li>
                <i class="fa-li fa fa-check"></i>
                System Administration</li><br />
            <li>
                <i class="fa-li fa fa-check"></i>
                Full Stack: RESTfull Architectures</li><br />
            <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development &amp; Scrum</li><br />
        </ul>
        </div>
    </section>

    <hr class="m-0">

    <!-- Projects -->
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
            <h2 class="mb-5">Projects</h2>

            <p>The following sumarize some projects I developed for academic purpose or sef-interest.</p>
            <ul class="fa-ul mb-0">
                <li>
                    <div class="subheading">Distributed Systems (Concurrency)</div>
                        <!-- &nbsp;&nbsp;&nbsp; · &nbsp;<a routerLink="/santaproblem">Santa's problem</a> -->
                        &nbsp;&nbsp;&nbsp; · &nbsp;<a href="https://github.com/aCard0s0/Santa-Claus-Concurrency-Problem">Santa Claus Problem</a> (Archived)<br /> 
                        &nbsp;&nbsp;&nbsp; · &nbsp;<a href="https://github.com/aCard0s0/The-Heist-Concurrency-Problem">The Heist</a> (Archived)
                </li><br />
                <li>
                    <div class="subheading">Information Technologies</div>
                        &nbsp;&nbsp;&nbsp; · &nbsp;<a href="https://github.com/aCard0s0/DAP">Parking Lot Monitorization Using Drones</a> (Archived)
                </li><br />
                <li>
                    <div class="subheading">Security</div>
                        &nbsp;&nbsp;&nbsp; · &nbsp;<a href="https://github.com/aCard0s0/Secure-Message-Repository-with-Portuguese-Card">Secure Messaging Repository System Using Portuguese Citizen Card</a> (Archived)
                </li><br />
                <li>
                    <div class="subheading">Data Analysis</div> 
                        &nbsp;&nbsp;&nbsp; · &nbsp;<a href="https://github.com/aCard0s0/Information-Retrieval-2018Class">Indexing Amazon Customer Reviews Dataset</a> (Archived)<br /> 
                        &nbsp;&nbsp;&nbsp; · &nbsp;<a href="">Merging Exchange Stock Data</a> (Anaconda Project <i>in Progress</i>)
                </li><br />
                <li>
                    <div class="subheading">Frontend</div>
                        &nbsp;&nbsp;&nbsp; · &nbsp;<a href="https://github.com/aCard0s0/Dashboard">Dynamic Dashboard</a> (Angular Project Archived) <br/>
                        &nbsp;&nbsp;&nbsp; · &nbsp;<a href="https://github.com/aCard0s0/Candlestick-Visualization">Candlestick-Visuzalization</a> (React & D3 Project Project <i>in Progress</i>) <br/>
                </li><br />
            </ul>

        </div>
    </section>

    <hr class="m-0">

    <!-- Interests -->
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
            <h2 class="mb-5">Interests</h2>
            <p>
                Let me introduce myself...
            </p>
            <br />
            <p>
                While I finish my master thesis, financial technologies (Fintech) related subjects are my main focus.<br/>
                Thereby I am constantly learning financial terms and concepts.<br/>
                I find fascinating some features in the markets. Where I am currently using as context to develop my Python skills.<br/>
            </p>
            <br />
            <p>
                I considere myself a Machine Learning, Cryptocurrency and Blockchain enthusiast. <br />
                Where slowly I invest some free time to learn more about this areas. <br />
                Current, I am investing more time learning more about data analysis for stock market by enrolling some course using <b>Python</b> on udemy about  
                <a href="https://www.udemy.com/course/detect-fraud-and-predict-the-stock-market-with-tensorflow/">"Detect Fraud and Predict the Stock Market with Tensorflow"</a>, 
                <a href="https://www.udemy.com/course/artificialintelligence/">"Predict the Stock Market with Data and Model Building"</a> and 
                <a href="https://www.udemy.com/course/algorithmic-trading-quantitative-analysis-using-python/">"Algorithmic Trading & Quantitative Analysis Using Python</a> for self-grown.
            </p>
            <br />
            <p>
                You may also find through my CV some education about Astronomy. <br/>
                It is one of my areas of interests and I considered to pursue a career within the context of space observation or exploration. 
                However, right now is an idea that is on hold, just occasionally enjoy to be informed to the latest news and developments.
            </p>
            <br />
            <p>
                As you see, my main credentials are focused on being able to understand what happens through a screen. But not always.<br/>
                I also enjoy playing poker. I find the game a playground where I can enhance my skills of reading people mixing with mathematical statistics. 
                Also find the same but with a little bit more entretaiment with Magic: the Gathering.
            </p>
            <br/>
            <p>
                At 12 years old I taste the flavor of freedom riding a motorcycle, thus since 16 I have been exploring Portugal roads with my own.
                Every holidays or even weekends I ride my motorcycle and try to do moto-camping whenever I can.<br/>
                I am also a Reiki Apprentice and meditation believer. I find balance when mind, body and spirit are working for the same goal.
            </p>
            <br />
        </div>
    </section>

    <hr class="m-0">

    <!-- Publications & Awards -->
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
        <h2 class="mb-5">Publications &amp; Awards</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-book"></i>
                Publication - <a href="https://sic.ici.ro/architecture-for-highly-configurable-dashboards-for-operations-monitoring-and-support/">
                    Architecture for Highly Configurable Dashboard for Operations Monitoring and Support</a>
            </li><br />
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                2<sup>nd</sup>
                Place - <a href="http://www.idroneexperience.com/">IDrone Expirence 2016</a> · Braga
            </li><br />
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Participation - <a href="https://sunsethackathon.com/">Sunset Hackathon 2017</a> · Costa Nova
            </li><br />
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>nd</sup>
                Place - <a href="https://www.facebook.com/PaginaArenaPorto/">Arena - Magic Beginners League - Throne of Eldraine - 2019 </a> · Porto
            </li>
        </ul>
        </div>
    </section>

</div>